@model NewsFeed.Models.Article
@{
    ViewBag.Title = "Home Page";
}

<h3>
    <span class="alert-success">
        @ViewBag.Message
    </span>
</h3>
<div class="jumbotron">
    <h1>Get Your News</h1>
    <p class="lead">Your personal news</p>
</div>


<table class="table"></table>